html{background-color:grey }
body{font-family: 'Alegreya Sans', sans-serif;}
h1{background-color: #3352FF  ;width:300px;border: 30px;margin: 25px;padding: 25px }
a:link, a:visited {
    background-color: yellow;
    color: green;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: white;
}
body{text-align: center;}
img{border: 30px;padding: 25px;margin: 25px;background-color: white}